.container {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}

.background {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

/* General Styles */
.timelineContainer {
    max-width: 80vw;
}

.timelineTitle {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 3rem;
}

/* Timeline Structure */
.timeline {
    position: relative;
    border-left: 0 solid #f8f8f8;
    transition: border-color 0.3s ease;
    margin-bottom: 5rem;
}

.timelineItem {
    position: relative;
    padding: 20px 0 20px 40px;
}

.timelineItem:last-child {
    padding-bottom: 0;
}

/* Marker */
.timelineMarker {
    position: absolute;
    left: -12px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: rgba(250, 250, 250, 0.56);
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

/* Content */
.timelineContent {
    background-color: rgba(255, 255, 255, 0.68);
    padding: 15px 20px;
    border: 0 solid #e0e0e0;
}

.timelineContent h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
}

.timelineContent p {
    margin-bottom: 5px;
    color: #020202;
}

/* Highlight Active Element */
.active .timelineMarker {
    background-color: #ffffff; /* Highlight color for active marker */
}

.active .timelineContent {
    background-color: rgb(255, 255, 255) /* Highlight color for active content */
}

/* Change Line Color Dynamically */
.timeline {
    border-bottom: #b39878/* Default color */
}

.timelineContainer:has(.timelineItem.active) .timeline {
    box-shadow: #b39878; /* Highlight color when active */
}

/* Responsive Design */
@media (max-width: 768px) {
    .timeline {
        border-left: none;
    }

    .timelineItem {
        padding-left: 0;
        padding-top: 30px;
    }

    .timelineMarker {
        left: 50%;
        transform: translateX(-50%);
    }

    .timelineContent {
        margin-top: 20px;
        text-align: center;
    }
}
