.container {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}

.background {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

.buttonContent {
    color: black;
    border: 1px solid black;
    margin: -0.5rem 0 0 -0.4rem;
    padding: 0.5rem;
}

.smallScreen {
    flex-direction: row;
    display: flex;
}

.button {
    color: black;
    padding: 5px;
    margin-top: 1rem;
}

.timelineContainer {
    max-width: 80vw;
}

.titleContainer {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.timelineTitle {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    margin: 6rem 0;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    width: 43ch;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.timeline {
    position: relative;
    border-left: 2px solid rgba(250, 250, 250, 0.56);
    transition: border-color 0.3s ease;
    margin-bottom: 5rem;
}

.timelineItem {
    position: relative;
    padding: 20px 0 20px 40px;
}

.timelineItem:last-child {
    padding-bottom: 0;
}

/* Marker */
.timelineMarker {
    position: absolute;
    left: -12px;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: rgb(161, 160, 160);
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}

/* Content */
.timelineContent {
    background-color: rgba(255, 255, 255, 0.68);
    padding: 15px 20px;
    margin: 1rem 3rem;
    border: 0 solid #e0e0e0;
}

.timelineContent h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: #000000;
}

.timelineContent p {
    margin-bottom: 5px;
    color: #020202;
}

/* Highlight Active Element */
.active .timelineMarker {
    background-color: #ffffff; /* Highlight color for active marker */
}

.active .timelineContent {
    background-color: rgb(255, 255, 255) /* Highlight color for active content */
}

/* Change Line Color Dynamically */
.timeline {
    border-bottom: #b39878 /* Default color */
}

.timelineContainer:has(.timelineItem.active) .timeline {
    box-shadow: #b39878; /* Highlight color when active */
}

.dates {
    margin: 1.5rem;
}

.descriptionContent {
    display: flex;
    justify-content: center;
    text-align: left;
}

/* Responsive Design für Tablets oder Ähnliches */
@media (max-width: 768px) {
    .dates {
        margin: -1.5rem -1.5rem -1.5rem -2.3rem;
        min-width: 6rem;
    }

    .timeline {
        border-left: none;
    }

    .timelineItem {
        padding-left: 0;
        padding-top: 30px;
    }

    .timelineMarker {
        left: 50%;
        transform: translateX(-50%);
    }

    .timelineContent {
        margin-top: 20px;
        text-align: center;
    }
}

/* Responsive Design für Tablets oder Ähnliches */
@media (max-width: 480px) {
    .dates {
        margin: -1.5rem -1.5rem -1.5rem -2.3rem;
        min-width: 6rem;
    }

    .timelineTitle {
        text-align: center;
        color: white;
        font-size: 18px;
    }

    .container {
        background-image: url("../../../assets/img/royal_wallpaper.png");
        background-repeat: repeat;
        background-size: contain;
    }

    .background {
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        background-color: rgba(0, 0, 0, 0.7);
        align-items: center;
    }

    /* General Styles */
    .timelineContainer {
        max-width: 90vw;
    }

    .timelineTitle {
        text-align: center;
        color: white;
        font-size: 24px;
        margin: 5rem 0 3rem 0;
    }

    /* Timeline Structure */
    .timeline {
        position: relative;
        border-left: 0 solid #f8f8f8;
        transition: border-color 0.3s ease;
        margin-bottom: 5rem;
    }

    .timelineItem {
        position: relative;
        padding: 20px 0 20px 0px;
    }

    .timelineItem:last-child {
        padding-bottom: 0;
    }

    /* Marker */
    .timelineMarker {
        left: 50%;
        transform: translateX(-50%);
    }

    /* Content */
    .timelineContent {
        background-color: rgba(255, 255, 255, 0.68);
        padding: 15px 10px;
        border: 0 solid #e0e0e0;
    }

    .timelineContent h2 {
        font-weight: bold;
        margin-bottom: 1rem;
        color: #000000;
    }

    .timelineContent p {
        margin-bottom: 5px;
        color: #020202;
    }

    /* Highlight Active Element */
    .active .timelineMarker {
        background-color: #ffffff; /* Highlight color for active marker */
    }

    .active .timelineContent {
        background-color: rgb(255, 255, 255) /* Highlight color for active content */
    }

    /* Change Line Color Dynamically */
    .timeline {
        border-bottom: #b39878 /* Default color */
    }

    .timelineContainer:has(.timelineItem.active) .timeline {
        box-shadow: #b39878; /* Highlight color when active */
    }
}