.background {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
}

.content {
    color: white;
    padding: 2rem 5%;
    min-width: 100vw;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.logoContainer {
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}