.container {
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    color: #19170f;
    padding: 1rem 5%;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    img {
        max-height: 3rem;
        margin-right: 2rem;
    }
}

.sectionName {
    padding: 0 2rem;
    cursor: pointer; /* Indicate clickability */
}

.active {
    font-weight: bold;
}

.button {
    background-color: transparent;
}

.button:hover {
    background-color: white;
}



/* Responsive Design */
/* Laptops oder Ähnliches */
@media (max-width: 1024px) {


}

/* Tablets oder Ähnliches */
@media (max-width: 768px) {



}

/* Smartphones oder Ähnliches */
@media (max-width: 480px) {

}
