.container {
    background-image: url("../../../assets/img/person.png");
    background-repeat: no-repeat;
    background-position-x: right;
    min-height: 140vh;

    display: flex;
    flex-direction: column;
    padding: 15% 5% 0 5%;
}

.typingEffect1 {
    width: 12ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin: 5rem 0 2rem 0;
}

.description {
    max-width: 55%;
    background-color: rgba(34, 29, 27, 0.54);
    margin: 7rem -1rem 0 0;
    color: white;
    padding: 1rem;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}