.container {
    background-image: url("../../../assets/img/person.png");
    background-repeat: no-repeat;
    background-position-x: right;
    min-height: 120vh;

    display: flex;
    flex-direction: column;
    padding: 15% 5% 0 5%;
}

.typingEffect1 {
    width: 12ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    margin: 5rem 0 2rem 0;
}

.description {
    max-width: 55%;
    background-color: rgba(34, 29, 27, 0.54);
    margin: 7rem -1rem 1rem 0;
    color: white;
    padding: 1rem;
}

.button {
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.25);
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

/* Laptops oder Ähnliches */
@media (max-width: 1024px) {
    .description {
        max-width: 100%;
        background-color: rgba(34, 29, 27, 0.54);
        margin: 5rem -1rem 1rem 0;
        color: white;
        padding: 1rem;
    }

    .container {
        background-image: url("../../../assets/img/person.png");
        background-repeat: no-repeat;
        background-position-x: right;
        min-height: 120vh;

        display: flex;
        flex-direction: column;
        padding: 15% 2% 0 2%;
    }
}

/* Tablets oder Ähnliches */
@media (max-width: 768px) {
    .description {
        max-width: 100%;
        background-color: rgba(34, 29, 27, 0.54);
        margin: 5rem -1rem 1rem 0;
        color: white;
        padding: 1rem;
    }

    .container {
        background-image: url("../../../assets/img/person.png");
        background-repeat: no-repeat;
        background-position-x: right;
        min-height: 120vh;

        display: flex;
        flex-direction: column;
        padding: 15% 2% 0 2%;
    }
}

/* Smartphones oder Ähnliches */
@media (max-width: 480px) {
    .description {
        max-width: 100%;
        background-color: rgba(34, 29, 27, 0.54);
        margin: 1rem -1rem 1rem 0;
        color: white;
        padding: 1rem;
    }

    .container {
        background-image: url("../../../assets/img/person.png");
        background-repeat: no-repeat;
        background-position-x: right;
        min-height: 120vh;

        display: flex;
        flex-direction: column;
        padding: 15% 2% 0 2%;
    }
}
