.container {
    background-color: white;
    min-height: 100vh;
    display: flex;
    padding: 8% 5%;
    flex-direction: column;
    color: white;
}

.title {
    font-weight: bolder;
}

.contentContainer {
    min-width: 40vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin: 0 1rem 1rem 0;
}

.weatherContainer {
    min-width: 40vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    height: 22vh;
}

.cContainer {
    min-width: 29vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    margin: 0 1rem 1rem 0;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.nasaContainer {
    display: flex;
    flex-direction: row;
    height: 62vh;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 15px;
    padding-left: 1rem;
}

.background {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}