.container {
    background-color: lightgrey;
    min-height: 150vh;
    display: flex;
    padding: 8% 5%;
    flex-direction: column;
}

.title {
    font-weight: bolder;
}

.contentContainer {
    min-width: 40vw;
    background-color: rgba(34, 29, 27, 0.54);
    padding: 1rem;
    margin: 0 1rem 1rem 0;
}

.cContainer {
    min-width: 29vw;
    background-color: rgba(34, 29, 27, 0.54);
    padding: 1rem;
    margin: 0 1rem 1rem 0;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.nasaContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 15px;
    padding-left: 1rem;
}