.backgroundFull {
    background-image: url("../../../assets/img/background-person.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    min-height: 110vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.28);
    min-height: 100vh;
    display: flex;
    padding: 5%;
    flex-direction: column;
    color: white;
}

.timelineTitle {
    text-align: center;
    color: rgba(0, 0, 0);
    font-weight: bolder;
    font-size: 24px;
    margin-bottom: 3rem;
}

.title {
    font-weight: bolder;
}

.contentContainer {
    display: flex;
    width: 76vw;
    background-color: #221d1b8a;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.weatherContainer {
    width: 15vw;
    background-color: #221d1b8a;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    height: 22vh;
    transition: transform 0.3s ease;
}

.cContainer {
    min-width: 29vw;
    background-color: #221d1b8a;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    transition: transform 0.3s ease;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.nasaContainer {
    display: flex;
    flex-direction: row;
    min-height: 62vh;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.description {
    padding-left: 1rem;
}

.weatherContainer:hover, .cContainer:hover, .contentContainer:hover {
    transform: scale(1.05); /* Slightly enlarges the element */
}

/* Responsive Design für Laptops oder Ähnliches */
@media (max-width: 1497px) {
    .timelineTitle {
        text-align: center;
        color: black;
        font-size: 24px;
        margin-bottom: 3rem;
    }

    .backgroundFull {
        background-image: url("../../../assets/img/background-person.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        min-height: 110vh;
    }

    .container {
        background-color: rgba(255, 255, 255, 0.28);
        min-height: 110vh;
        min-width: 100vw;
        display: flex;
        padding: 5% 5% 0 5%;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
    }

    .rowContainer {
        display: flex;
        flex-direction: column;
    }

    .contentContainer {
        min-width: 85vw;
        padding: 0.5rem;
        margin: 0 0.5rem 1rem 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: #221d1b8a;
        transition: transform 0.3s ease;
    }

    .weatherContainer {
        min-width: 31.3%;
        padding: 0.5rem;
        margin: 0 1% 1rem 1%;
        justify-content: center;
        text-align: center;
        background-color: #221d1b8a;
        transition: transform 0.3s ease;
    }

    .weatherContainer:hover, .cContainer:hover, .contentContainer:hover {
        transform: scale(1.05); /* Slightly enlarges the element */
    }

    .cContainer {
        min-width: 85vw;
        padding: 1rem;
        margin: 0 0.5rem 1rem 0.5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        background-color: #221d1b8a;
        transition: transform 0.3s ease;
    }

    .nasaContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .columnContainer {
        display: flex;
        flex-direction: row;
    }

    .description {
        font-size: 12px;
        padding-left: 1rem;
    }
}


/* Responsive Design */
@media (max-width: 820px) {
    .timelineTitle {
        text-align: center;
        color: black;
        font-size: 18px;
        margin-bottom: 3rem;
    }

    .rowContainer {
        display: flex;
        flex-direction: column;
    }

    .contentContainer {
        min-width: 85vw;
        padding: 0.5rem;
        margin: 0 0.5rem 1rem 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: #221d1b8a;
        transition: transform 0.3s ease;
    }

    .weatherContainer {
        min-width: 85vw;
        padding: 0.5rem;
        margin: 0 0.5rem 1rem 0.5rem;
        justify-content: center;
        text-align: center;
        background-color: #221d1b8a;
        transition: transform 0.3s ease;
    }

    .nasaContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .columnContainer {
        display: flex;
        flex-direction: column;
    }

    .description {
        font-size: 12px;
        padding-left: 1rem;
    }

    .weatherContainer:hover, .cContainer:hover, .contentContainer:hover {
        transform: scale(1.05); /* Slightly enlarges the element */
    }

}
