
.container {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}

.background {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
}

.description {
    color: white;
    margin-bottom: -3rem;
}

.timelineTitle {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.title {
    background-color: rgba(255, 255, 255, 0.79);
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    padding: 3px;
    font-weight: bolder;
}

.row2, .row1{
    margin: 1% 2%;
    display: flex;
    max-width: 85vw;
    font-size: 300%;
    color: rgba(233, 233, 237, 0.84);
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.row1 {
    animation: scroll-hint 2s infinite;
}

.row1::-webkit-scrollbar, .row2::-webkit-scrollbar {
    display: none;
}

@keyframes scroll-hint {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-7px);
    }
}

.button {
    margin: 2rem;
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.25);
}

/* Responsive Design für Laptops oder Ähnliches */
@media (max-width: 1240px) {
    .row1, .row2 {
        margin: 1% 3%;
        display: flex;
        max-width: 85vw;
        font-size: 300%;
        color: rgba(233, 233, 237, 0.84);
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow-y: scroll;
        scroll-behavior: smooth;

        scrollbar-width: none;
        -ms-overflow-style: none;
        animation: scroll-hint 2s infinite;
    }

    @keyframes scroll-hint {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(-7px);
        }
    }
}

/* Tablets oder Ähnliches */
@media (max-width: 768px) {
    .row1, .row2{
        margin: 1%;
        display: flex;
        max-width: 90vw;
        font-size: 220%;
        color: rgba(233, 233, 237, 0.84);
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        animation: none;
    }

}

/* Smartphones oder Ähnliches */
@media (max-width: 480px) {
    .row1, .row2{
        margin: 1%;
        display: flex;
        max-width: 85vw;
        font-size: 200%;
        color: rgba(233, 233, 237, 0.84);
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        animation: none;
    }

    .timelineTitle {
        text-align: center;
        color: white;
        font-size: 18px;
        margin: 5rem 0 3rem 0;
    }
}
