
.container {
    background-image: url("../../../assets/img/royal_wallpaper.png");
    background-repeat: repeat;
    background-size: contain;
}

.background {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 8% 5% 0 5%;
    background-color: rgba(0, 0, 0, 0.7);
}

.description {
    color: white;
    margin-bottom: -3rem;
}

.timelineTitle {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 3rem;
}

.title {
    background-color: rgba(255, 255, 255, 0.79);
    justify-content: center;
    display: flex;
    margin-top: 5rem;
    padding: 3px;
    font-weight: bolder;
}

.rows {
    margin: 1% 2%;
    display: flex;
    max-width: 85vw;
    font-size: 300%;
    color: rgba(233, 233, 237, 0.84);
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: smooth;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.rows::-webkit-scrollbar {
    display: none;
}



/* Responsive Design */
/* Laptops oder Ähnliches */
@media (max-width: 1024px) {


}

/* Tablets oder Ähnliches */
@media (max-width: 768px) {



}

/* Smartphones oder Ähnliches */
@media (max-width: 480px) {

}
